altgraph==0.17.4
asgiref==3.7.2
certifi==2023.11.17
charset-normalizer==3.3.2
Django==4.2.7
fpdf==1.7.2
idna==3.6
mysql-connector-python==8.2.0
packaging==23.2
pefile==2023.2.7
pillow==10.2.0
protobuf==4.21.12
pyinstaller==6.2.0
pyinstaller-hooks-contrib==2023.10
pywin32-ctypes==0.2.2
requests==2.31.0
setuptools==69.0.2
sqlparse==0.4.4
tzdata==2023.3
urllib3==2.1.0
