{% extends 'header.html' %}
{% block content %}
{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        
    </head>
    <body>
	
		
		<!-- Single News -->
		<section class="news-single section">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-12">
						<div class="row">
							<div class="col-12">
								<div class="single-main">
									<!-- News Head -->
									<div class="news-head">
										<img src="{{doctor_profile.doctor.profile_picture.url}}" alt="#" style="width:300px;height: 300px;">
									</div>
									<!-- News Title -->
									<h1 class="news-title"><a href="news-single.html">Dr. {{doctor_profile.doctor.fname}} {{doctor_profile.doctor.lname}} - {{doctor_profile.specialization}} Specialist</a></h1>
									<!-- Meta -->
									
								</div>
							</div>
							
						</div>
					</div>
					<div class="col-lg-4 col-12">
						<div class="main-sidebar">
							
							<!-- Single Widget -->
							<div class="single-widget category">
								<h3 class="title">Doctor Details</h3>
								<ul class="categor-list">
									<li><a href="#">Qualification : {{doctor_profile.qualification}}</a></li>
									<li><a href="#">Experience : {{doctor_profile.experience_in_years}} Years</a></li>
									<li><a href="#">Clinic Address : {{doctor_profile.clinic_address}}</a></li>
									<li><a href="#">Clinic Time : {{doctor_profile.time}}</a></li>
								</ul>
							</div>
							<!--/ End Single Widget -->
							<div class="col-lg-2 col-12">
								<div class="get-quote">
									<a href="{% url 'book-appointment' pk=doctor_profile.pk %}" class="btn">Book Appointment</a>
								</div>
							</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Single News -->
		
    </body>
</html>
{% endblock %}