{% extends 'header.html' %}
{% block content %}
{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        
    </head>
    <body>
	
		
		<!-- Breadcrumbs -->
		<div class="breadcrumbs overlay">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h2>New Password</h2>
							<ul class="bread-list">
								<li><a href="/">Home</a></li>
								<li><i class="icofont-simple-right"></i></li>
								<li class="active">New Password</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->
				
		<!-- Start Contact Us -->
		<section class="contact-us section">
			<div class="container">
				<div class="inner">
					<div class="row"> 
						
						<div class="col-lg-12">
							<div class="contact-us-form">
								<h2>New Password</h2>
								{% if msg %}
									<b style="color: blue;">{{msg}}</b>
								{% endif %}
								<!-- Form -->
								<form class="form" method="post" action="{% url 'new-password' %}">
									{% csrf_token %}
									<div class="row">
										<input type="hidden" name="mobile" value="{{mobile}}">
										<div class="col-lg-6">
											<div class="form-group">
												<input type="password" name="npassword" placeholder="New Password">
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<input type="password" name="cnpassword" placeholder="Confirm New Password">
											</div>
										</div>
										
										<div class="col-12">
											<div class="form-group login-btn">
												<button class="btn" type="submit">Update Password</button>
											</div>
											
										</div>
									</div>
								</form>
								<!--/ End Form -->
							</div>
						</div>
					</div>
				</div>
				<div class="contact-info">
					<div class="row">
						<!-- single-info -->
						<div class="col-lg-4 col-12 ">
							<div class="single-info">
								<i class="icofont icofont-ui-call"></i>
								<div class="content">
									<h3>+(000) 1234 56789</h3>
									<p>info@company.com</p>
								</div>
							</div>
						</div>
						<!--/End single-info -->
						<!-- single-info -->
						<div class="col-lg-4 col-12 ">
							<div class="single-info">
								<i class="icofont-google-map"></i>
								<div class="content">
									<h3>2 Fir e Brigade Road</h3>
									<p>Chittagonj, Lakshmipur</p>
								</div>
							</div>
						</div>
						<!--/End single-info -->
						<!-- single-info -->
						<div class="col-lg-4 col-12 ">
							<div class="single-info">
								<i class="icofont icofont-wall-clock"></i>
								<div class="content">
									<h3>Mon - Sat: 8am - 5pm</h3>
									<p>Sunday Closed</p>
								</div>
							</div>
						</div>
						<!--/End single-info -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End Contact Us -->
		
    </body>
</html>
{% endblock %}